<!DOCTYPE html>
<html>
    <head>
        <title>UL-CS</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <%- include('menu') %>

        <h2>Formulario Torneo</h2>
        <form>
            <div>
                <label class="form-label">Nombre:</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-2">
                <label class="form-label">Fecha:</label>
                <input type="date" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>

        <%- include('footer') %>
    </body>
</html>